# Surface JavaScript in GitHub language stats
index.html linguist-language=JavaScript

# Ensure TeX is shown in language stats
*.tex linguist-detectable=true linguist-language=TeX

# Mark build artifacts as generated
*.aux linguist-generated
*.log linguist-generated
*.out linguist-generated
*.pdf linguist-generated
